.pure-form input:not([type="range"]):not([type="submit"]),
.pure-form select {
    width: 100%;
    padding: 0.5em 0.6em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.pure-form .pure-button {
    /* Structure */
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
            user-select: none;
    box-sizing: border-box;
}

.pure-button {
    font-size: 100%;
    padding: 0.5em 0.6em;
    color: rgba(0, 0, 0, 0.80);
    border: none rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
    border: none;
    background-image: none;
    opacity: 0.40;
    cursor: not-allowed;
    pointer-events: none;
}

.pure-button-hidden {
    display: none;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
}

.button-success {
    background: #4CAF50;
    margin: 0.5em 0;
}

.button-error {
    background: #F44336;;
}

.button-warning {
    background: rgb(223, 117, 20);
}

.button-secondary {
    background: #129FEA;
}

.pure-form input:not([type="range"]):focus,
.pure-form select:focus{
    outline: 0;
    border-color: #129FEA;
}

.pure-form input:not([type="range"])[disabled],
.pure-form select[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

.pure-form input:focus:invalid,
.pure-form select:focus:invalid {
    color: #b94a48;
    border-color: #e9322d;
}
.pure-form input[type="file"]:focus:invalid:focus,
.pure-form input[type="radio"]:focus:invalid:focus,
.pure-form input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}
.pure-form select {
    /* Normalizes the height; padding is not sufficient. */
    height: 2.25em;
    border: 1px solid #ccc;
    background-color: white;
}
.pure-form select[multiple] {
    height: auto;
}
.pure-form label {
    margin: 0.5em 0 0.2em;
}
.pure-form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}

.pure-form-aligned .pure-control-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
}
.pure-form-aligned .pure-control-group label {
    flex: 1;
    text-align: left;
    margin: 0.25em 1em 0.25em 0;
}
.pure-form-aligned .pure-control-group h1 {
    flex: 1;
    text-align: center;
}
.pure-form-aligned .pure-control-group input,
.pure-form-aligned .pure-control-group button,
.pure-form-aligned .pure-control-group select {
    flex: 1;
}

.range {
    flex: 1;
    width: 100%;
    padding: 0.5em 0.6em;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0
}

.toggle-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    border-radius: 34px;
    margin: 0
}

.toggle-switch input:checked+.slider {
    background: #129FEA;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: #fff;
    border-radius: 50%;
}

.toggle-switch input:checked+.slider:before {
    transform: translateX(26px);
}